@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.wrapper {
    padding-top: 50vh;
    padding-bottom: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}